<div class="modal fade" id="createOrderModal" tabindex="-1" aria-labelledby="createOrderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createOrderModalLabel">Создать Заказ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{{url_for('create_order')}}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="first_name" class="form-label">Имя</label>
                        <input class="form-control" id="first_name" name="first_name">
                    </div>
                    <div class="mb-3">
                        <label for="second_name" class="form-label">Фамилия</label>
                        <input class="form-control" id="second_name" name="second_name">
                    </div>
                    <div class="mb-3">
                        <label for="phone_number" class="form-label">Телефон</label>
                        <input class="form-control" id="phone_number" name="phone_number">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Почта</label>
                        <input class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="job_title" class="form-label">Должность</label>
                        <input class="form-control" id="job_title" name="job_title">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>